.node #title-label,
.node #divider {
    display: none;
}

.node {
    min-width: 200px;
}

.node #collapse-button { display: none; }
.node:hover #collapse-button { display: flex; }

.node #title-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.node #title-button-container > * {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    width: auto;
}

.node #title-button-container > .unity-text-field {
    flex-shrink: 1;
}

.node #collapsible-area {
    padding: 8px;
    background-color: var(--light-grey-2);
}